<#import "/main_layout.html" as layout />

<@layout.stdpage title="AC Vote | Thank You" cssfile="selectedBallot.css">

	<div class="container mb-5">
		
		<div class="row">
			<div class="col d-flex justify-content-center">
				<div id="message">
					<h1>Thank You for Voting!</h1>
					<p class="text-center">Your vote has been successfully cast<br/>You may now close this page/tab/browser</p><br/>
					<img src="/acvote/images/voted.png" alt="I voted" class="center"/>
				</div>
			</div>
		</div>

	</div>

</@layout.stdpage>