<#import "/main_layout.html" as layout />

<@layout.stdpage title="AC Vote | Faculty Details" jsfile="faculty.js">

	<div class="container mb-5">
		
		<form style="display: none" action="/acvote/faculty/details/flash" method="POST" id="flasher">
			  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			  <input type="hidden" id="flash-msg" name="msg" value=""/>
			  <input type="hidden" name="acId" value="${faculty.acId}"/>
		</form>
		
		<div class="row mb-2">
			<div class="col-md-6">
				<h1>Faculty Details</h1>
				<p>Click on faculty fields to edit</p>
				<a href="/acvote/faculty/list"> &lt;- Back to Faculty List</a>
			</div>
			<div class="col-md-6">
				<div class="d-flex justify-content-end">
					<div class="btn-group-vertical">
						<button type="button" class="btn btn-lg btn-secondary" onclick="adjustFaculty()"
							id="saveButton">Save Changes</button>
						<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal"
							data-bs-target="#deleteModal">Delete</button>
					</div>
				</div>
			</div>
		</div>
		<hr />
		
		<div class="row text-end" acId="${faculty.acId}">
			<div class="row">
				<div class="col-4">
					<p><b>AC ID</b></p>
				</div>
				<div class="col-8 text-start">
					<p contenteditable="false" id="acIdBox">${faculty.acId}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Name</b></p>
				</div>
				<div class="col-8 text-start">
					<p contenteditable="true" id="nameBox">${faculty.firstName} ${faculty.lastName}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Department</b></p>
				</div>
				<div class="col-8 text-start">
					<p contenteditable="true" id="deptBox">${faculty.dept}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Division</b></p>
				</div>
				<div class="col-8 text-start">
					<select id="divBox" name="div" class="form-select form-select-sm" aria-label=".form-select-sm">
						<#list divisions as d>
							<option value="${d.code}" <#if d.code==faculty.div>selected="true"</#if>>${d.label}</option>
						</#list>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Rank</b></p>
				</div>
				<div class="col-8 text-start">
					<select id="rankBox" name="rank" class="form-select form-select-sm" aria-label=".form-select-sm">
						<#list ranks as r>
							<option value="${r.code}" <#if r.code==faculty.rank>selected="true"</#if>>${r.label}</option>
						</#list>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Email</b></p>
				</div>
				<div class="col-8 text-start">
					<p contenteditable="true" id="emailBox">${faculty.email}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Tenure</b></p>
				</div>
				<div class="col-8 text-start">
					<select id="tenureBox" name="tenure" class="form-select form-select-sm"
						aria-label=".form-select-sm">
						<#list tenureStatus as t>
							<option value="${t.code}" <#if (faculty.tenure!"NA")==t.code>selected="true"</#if>>${t.label}</option>
						</#list>
						
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Voting</b></p>
				</div>
				<div class="col-8 text-start">
					<select id="votingStatusBox" name="votingStatus" class="form-select form-select-sm"
						aria-label=".form-select-sm">
						<option value="true" <#if faculty.voting>selected="true"</#if>>Yes</option>
						<option value="false" <#if !faculty.voting>selected="true"</#if>>No</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<p><b>Active</b></p>
				</div>
				<div class="col-8 text-start">
					<select id="activeStatusBox" name="activeStatus" class="form-select form-select-sm"
						aria-label=".form-select-sm">
						<option value="true" <#if faculty.active>selected="true"</#if>>Yes</option>
						<option value="false" <#if !faculty.active>selected="true"</#if>>No</option>
					</select>
				</div>
			</div>
		</div>


		<!-- Delete modal -->
		<div id="deleteModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Delete</h4>
						<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div id="confirm-contents" class="modal-body">
						<p>Do you really want to delete this faculty?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button id="btnDeleteFaculty" type="button" class="btn btn-ACred"  data-bs-dismiss="modal" 
							data-acId="${faculty.acId}">Delete</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	

	<script>
		
	  $(document).ready(function () {
		flashMessage("${message!''}");
		$("#btnDeleteFaculty").click(deleteFaculty);
		});
		
	</script>
	
</@layout.stdpage>