
<#import "/main_layout.html" as layout />
<@layout.stdpage title="About the Team" >


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="h1">About Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>We made this project. This is who we are!</p>
            </div>
        </div>
        <div class="row">
            <div class="list-group">
    
                <a href="/acvote/about/kaskew" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/kaskewIMG.jpeg" class="img-fluid rounded m-1" style="height:2rem"
                            class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Kate Askew</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/abhogal"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/abhogal.png" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Alwin Bhogal</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/mbose" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/mbose.jpg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Michael Bose</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/fellis" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/donkey.jpg" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Foster Ellis</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/mhaberle"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/miller.jpeg" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Miller Haberle</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/mhiggs" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/defaultProfilePicture.png" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Michael Higgs</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/bhill" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/Brandon's Photo.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Brandon Hill</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/ajimdaniels"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/amirImage.jpg" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2"> Amir Jim-Daniels</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/kleahy" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/devProfileKieran.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Kieren Leahy</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/lluker" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/LindyImage.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Lindy Luker</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/jmeloni"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/JakeImage.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Jacob Meloni</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/jortega"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/toasterguy.jpg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Jennifer Ortega</h5>
    
                    </div>
                </a>
    
                <a href="/acvote/about/epineda"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/EnriqueImage.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Enrique Pineda</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/arosenberg"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/Rosey.jpeg" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Alan Rosenberg</h5>
                    </div>
                </a>
                
   				<a href="/acvote/about/asandoval"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/asandoval.jpg" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Alex Sandoval</h5>
                    </div>
                </a>
                
                <a href="/acvote/about/jvankirk"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/Jaidyn'sPhoto.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Jaidyn Vankirk</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/gvengalasetti" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/gunaVengalasetti.jpg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Guna Vengalasetti</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/tward" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/TobiasImage.jpeg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Tobias Ward</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/dwilliams"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/DylanPhoto.jpg" class="img-fluid rounded m-1"
                            style="height:2rem" />
                        <h5 class="m-2">Dylan Williams</h5>
                    </div>
                </a>
    
                <a href="/acvote/about/czapata"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/czapata.png" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Cynthia Zapata</h5>
                    </div>
                </a>
      <a href="/acvote/about/clee"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-start">
                        <img src="images/developerImages/clee.jpg" class="img-fluid rounded m-1" style="height:2rem" />
                        <h5 class="m-2">Curran Lee </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    
</@layout.stdpage>
